html{
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  
body {
    height: calc(100% - 16px);
    padding: 10px;

    display: grid;
    grid-template-columns: 50% 50%;
    
    border-color: black;
    border-style: solid;
}


#izquierda, #dereita {
    display: grid;
}

#izquierda {
    grid-template-rows: 50% 50% ;
}

#dereita {
    grid-template-rows: 30% 70% ;
}

#Verde, #Rojo, #Azul, #Morado{
    margin: 10px;
}

#Verde {
    background-color: green;
}

#Rojo {
    background-color: red;
}

#Azul {
    background-color: blue;
}

#Morado {
    background-color: purple;
}